@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
  background-color: #F5F7FB;  /* 微微偏蓝的白 */
  padding: 0px;
  font: 16.0px/1.5 Crimson Pro, serif;
  color: #424A59;  /* 冷灰 */
  font-weight: 400;
  margin: 0;
}

.pub-row {
  display: flex;
  align-items: center;
}

a.no-color {
  color: unset !important;
}

/* -------- 社交图标：科技蓝 -------- */

.social-icons a {
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
  background-color: transparent;
  color: #2962FF !important;   /* 主蓝 */
  border-radius: 100%;
  text-align: center;
  font-size: 1.15rem;
  line-height: 0rem;
  margin-right: 1rem;
}

@media (prefers-color-scheme: dark) {
  .social-icons a {
    color: #8FB0FF !important;  /* 浅蓝 */
  }
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: transparent;
  color: #1634A0 !important;   /* hover 深蓝 */
  transform: scale(1.3);
}

/*
    .social-icons a:after {
        content: '';
        display: block;
        margin: 0px;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
      .social-icons a:hover:after {
        width: 100%;
        background: #337ab7;
      }
     */

@media (prefers-color-scheme: dark) {
  .social-icons a:last-child {
    margin-right: 0;
  }

  .social-icons a:hover {
    background-color: transparent;
    color: #E0E7FF !important;
    transform: scale(1.2);
  }

  /*
    .social-icons a:after {
        content: '';
        display: block;
        margin: 0px;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
      
    .social-icons a:hover:after {
        width: 100%;
        background: #a0b0ff;
      }
    */
}

.icon-button {
  background-color: white;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2.0rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 3.6rem;
}

.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}

.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}

.twitter span {
  background-color: #2962FF;
}

.facebook span {
  background-color: #2962FF;
}

.linkedin span {
  background-color: #0077B5;
}

.github span {
  background-color: #000;
}

email {
  font-size: 14px;
  font-family: "Ubuntu Mono";
}

.icon-button i {
  background: none;
  color: white;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}

.icon-button .icon-twitter {
  color: #2962FF;
}

.icon-button .icon-facebook {
  color: #2962FF;
}

.icon-button .icon-github {
  color: #000;
}

.icon-button .icon-linkedin {
  color: #0077B5;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-github,
.icon-button:hover .icon-linkedin {
  color: white;
}

// autocolor {
//   color: #595959;
// }

autocolor {
  color: #2962FF;   /* 主蓝 */
}

lightonly {
  visibility: visible;
}

darkonly {
  visibility: hidden;
}

education {
  font-weight: 500;
  font-size: 115%;
}

papertitle {
  font-weight: 600;
  font-size: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0B1020;   /* 深海军蓝 */
    color: #E3E9F8;
  }

  autocolor {
    color: #8FB0FF;
  }

  lightonly {
    visibility: hidden;
  }

  darkonly {
    visibility: visible;
  }

  papertitle {
    color: #F0F3FF;
  }
}

.image {
  border-radius: 0.35em;
  border: 0;
  display: inline-block;
  position: relative;
}

.image:before {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  border-radius: 0.35em;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

// .image.avatar {
//   border-radius: 0%;
// }

.image.avatar:before {
  display: none;
}

.image.avatar img {
  border-radius: 20%;
  width: 90%;
  padding: 50px;
  border: 2px solid #D2DCF6;   /* 浅蓝边框 */
  padding: 8px;
  box-shadow: 0 -1px 5px 1px rgba(120, 144, 200, 0.3);
}

.image.logo img {
  border-radius: 0%;
  width: 100%;
  padding: 50px;
  // border: 2px solid #ddd;
  opacity: 0.5;
  padding: 10px;
  box-shadow: 0 0px 0px 0px rgba(200, 200, 200, 0.3);
  margin-left: -8px;
  margin-top: -58px;
  margin-bottom: -10px;
}

#header .image.avatar {
  margin: 0 0 em 0;
  width: 8.00em;
}

// #header .image.logo {
//   margin: 0 0 em 0;
//   width: 8.00em;
// }

h3 {
  font-weight: 400;
  color: #111827;
  margin: 0 0 0px;
}

h4 {
  font-weight: 400;
  color: #4B5563;
  margin: 0 0 5px;
}

h5,
h6 {
  font-weight: 600;
  color: #374151;
  margin: 0 0 20px;
}

h1 {
  font-weight: 500;
  color: #111827;
  margin: 0 0 8px;
}

h2 {
  color: #111827;
  font-weight: 500;
  margin: 2px 0px 15px;
  font-size: 157%;
}

@media (prefers-color-scheme: dark) {

  h1,
  h3 {
    font-weight: 300;
    color: #E5ECFF;
    margin: 0 0 20px;
  }

  h4 {
    font-weight: 400;
    color: #CBD5F5;
    margin: 0 0 5px;
  }

  h5,
  h6 {
    color: #CBD5F5;
  }

  h2 {
    color: #E5ECFF;
  }

  email {
    font-size: 14px;
    color: #CBD5F5;
    font-family: "Ubuntu Mono";
  }
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

/* 链接：科技蓝 */

a {
  color: #2962FF;
  text-decoration: none;
}

a:hover {
  color: #1634A0;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #8FB0FF;
  }
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #777;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

blockquote {
  border-left: 2px solid #C3D4FF;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #1F2933;
}

pre {
  max-width: 500px;
  padding: 8px 15px;
  background: #E8F0FF;
  border-radius: 5px;
  border: 1px solid #CBD5F5;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #E5E7EB;
}

dt {
  color: #111827;
  font-weight: 500;
}

th {
  color: #111827;
}

@media (prefers-color-scheme: dark) {
  th {
    color: #8FB0FF;
  }

  dt {
    color: #8FB0FF;
  }
}

img {
  max-width: 100%;
}

header {
  width: 232px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
  padding-top: 4.0em;
  text-align: center;
}

header ul {
  list-style: none;
  height: 40px;
  padding: 0;
  background: #E5E7EB;
  border-radius: 5px;
  border: 1px solid #D1D5DB;
  width: 270px;
}

header li {
  width: 89px;
  float: left;
  border-right: 1px solid #D1D5DB;
  height: 40px;
}

header li:first-child a {
  border-radius: 5px 0 0 5px;
}

header li:last-child a {
  border-radius: 0 5px 5px 0;
}

header ul a {
  line-height: 1;
  font-size: 11px;
  color: #6B7280;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 34px;
}

header ul a:hover {
  color: #111827;
}

header ul a:active {
  background-color: #DDE3F5;
}

strong {
  color: #111827;
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  strong {
    color: #F3F4FF;
  }
}

header ul li+li+li {
  border-right: none;
  width: 89px;
}

header ul a strong {
  font-size: 14px;
  display: block;
  color: #111827;
}

section {
  width: 650px;
  float: right;
  padding-top: 4.0em;
  padding-bottom: 50px;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #E5E7EB;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  width: 232px;
  float: left;
  position: fixed;
  bottom: 30px;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: center;
}

@media print,
screen and (max-width: 960px) {

  .pub-row {
    display: flex;
    align-items: center;
  }

  div.wrapper {
    width: auto;
    margin: 0;
  }

  header,
  section,
  footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    border: 1px solid #E5E7EB;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }

  .image.avatar img {
    border-radius: 20%;
    width: 180px;
    padding: 5px;
  }

  .image.logo img {
    border-radius: 0%;
    width: 117px;
    padding: 3px;
    margin-top: -20px;
  }

  #head1o2 {
    visibility: hidden;
  }

  #head2o2 {
    visibility: hidden;
  }
}

@media print,
screen and (max-width: 960px) {
  body {
    word-wrap: break-word;
    padding: 15px;
  }

  .pub-row {
    display: flex;
    align-items: center;
  }

  header {
    padding: 0;
  }

  header ul,
  header p.view {}

  pre,
  code {
    word-wrap: normal;
  }
}

@media print,
screen and (max-width: 480px) {

  .pub-row {
    display: block;
    align-items: center;
  }

  body {
    padding: 15px;
  }

  header ul {
    width: 99%;
  }

  header li,
  header ul li+li+li {
    width: 33%;
  }

  .image.avatar img {
    border-radius: 20%;
    width: 180px;
    padding: 3px;
  }

  #head1o2 {
    visibility: hidden;
  }

  #head2o2 {
    visibility: hidden;
  }
}

@media print {
  body {
    padding: 0.4in;
  font-size: 12pt;
  color: #444;
  }
}

.biblink {
  text-decoration: none;
  display: inline;
  margin-right: 0px;
}

.fakelink {
  text-decoration: none;
  cursor: pointer;
}

.bibref {
  font-size: 70%;
  margin-top: 10px;
  margin-left: 0px;
  display: none;
  font-family: monospace;
}
